/* @tailwind base;
@tailwind components;
@tailwind utilities; */


:root {
  --radius: 1.25rem;
}
.card, .btn, .form-control {
  border-radius: var(--radius);
}
.navbar-brand { letter-spacing: .5px; }
.img{
  width: 415px;
  height: 415px;
  
}

.wimg{
width: 415px;
height: 275px;
}

.nav-link {
  cursor: pointer;
}